<div id="main" class="container page-section principal">
  <div class="row">
    <!-- com 1 -->   
      <div class=" col-md-6  col-xs-12 nopadding">
        <div class="comp comp1 
                    pull-right" style="background: #80AE52">
          <!-- <i class="glyphicon glyphicon-info-sign more-info" data-target="1"></i> -->
            <!-- <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Productos</a> -->
          <a class="section-title linea-title center-block middle-box" style="cursor: pointer;" 
            href="/plan-de-metas/plan-de-metas-2016-2019/cordoba-sustentable/5#componente-5">
            Productos
          </a>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="col-md-6 col-xs-12 nopadding">
        <div class="comp comp2 
                    pull-left" style="background: #00CDC6">
            <!-- <i class="glyphicon glyphicon-info-sign more-info" data-target="2"></i> -->
            <a class="section-title linea-title center-block middle-box" style="cursor: pointer;"
            href="/plan-de-metas/plan-de-metas-2016-2019/cordoba-sustentable/5#componente-5">
              Quienes Somos
            </a>
            <div class="clearfix"></div>
        </div>
      </div>
        
      <div class="col-md-6 col-xs-12 nopadding">
        <div class="comp comp3 
                    pull-right" style="background: #E24F2D">
          <!-- <i class="glyphicon glyphicon-info-sign more-info" data-target="3"></i> -->
          <a class="section-title linea-title center-block middle-box" style="cursor: pointer;"
            href="/plan-de-metas/plan-de-metas-2016-2019/cordoba-sustentable/5#componente-5">
            Servicio Técnico
          </a>
          <div class="clearfix"></div>
        </div>
      </div>
        
      <div class="col-md-6 col-xs-12 nopadding">
        <div class="comp comp4 
                 pull-left" style="background: #F09E00">
          <!-- <i class="glyphicon glyphicon-info-sign more-info" data-target="4"></i> -->
          <a class="section-title linea-title center-block middle-box" style="cursor: pointer;"
          href="/plan-de-metas/plan-de-metas-2016-2019/cordoba-sustentable/5#componente-5">
          Tienda Virtual
          </a>
          <div class="clearfix"></div>
        </div>
      </div>
  </div>
</div>
  